
.jumbotron{
	opacity:0.5;
	

       

}

body{background-image: url("../images/foodimage.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;

        
 
}



