body{
    background-image: url("../assets/images/kitchen-wall-hanging-ideas-kitchen-wall-storage-ideas-kitchen-wallpaper-ideas-kitchen-wall-painting-ideas-designs-kitchen-wall-tile-ideas-cool-kitchen-wall-ideas-kitchen-wall-ideas-3a01-687x458.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}

h1{
    margin-top: 140px;
    text-align: center;
    margin-bottom: 100px;
}

.form-control{
    width: 400px;
    display: initial ;
   vertical-align: middle;
}

#login-input{
    text-align: center;
}

label{
    display: block;
    

}

